/*Reset the default styles*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* Header */
header {
    background-color: blue;
}

/*Main Content*/
main {
    background-color: tomato;
}

/*Footer*/
footer {
    background-color: bisque;
}