/*Reset the default styles*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/*General Styles*/
body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
}
/* Header */
header {
    background-color: blue;
}

/*Main Content*/
main {
    background-color: tomato;
    /* 
       The CSS property 'flex' with the value 'flex: 1 0 auto;' does the following:
       - 'flex-grow: 1' allows the item to grow and expand to fill available space.
       - 'flex-shrink: 0' prevents the item from shrinking in limited space.
       - 'flex-basis: auto' sizes the item based on its content.
    */
        flex: 1 0 auto;
}

/*Footer*/
footer {
    background-color: bisque;
}